<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="asserts/text.css">
</head>
<div id="container">
    <div id="header">
        <h1>E-Book  Management System</h1>
	</div>
  <div id="Wrapper">
		<div id='imgcontainer'>

	<a href="https://read.amazon.in/nc/?kcrFree=only&asin=B00NLFVVOU&tag=x_gr_w_preview_kcr_in-21">
	<img src="https://images.gr-assets.com/books/1451446316l/21853621.jpg">
		</a>
	</div>
				
				<div id='imgcontainer'>
<a href="https://read.amazon.in/nc/?kcrFree=only&asin=B002MQYOFW&tag=x_gr_w_preview_kcr_in-21">
<img src="https://images.gr-assets.com/books/1447303603l/2767052.jpg">
						</a>
			</div>
    </div>
  <div id="navi">	
  </div>
  <%if (user){ %>
	<a href="https://read.amazon.in/nc/?kcrFree=only&asin=B00NLFVVOU&tag=x_gr_w_preview_kcr_in-21">
	<img src="https://images.gr-assets.com/books/1451446316l/21853621.jpg">
	</a>
	<% }%>
	</div>
</div>
</body>
</html>