<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="asserts/text.css">
</head>
<div id="container">
    <div id="header">
        <h1>E-Book  Management System</h1>
    </div>
 <div id="navi">  
  </div>      
  <!-- <div id="img">
<img src="https://www.peoplefirstinfo.org.uk/media/6941/homepage.jpg"  alt="image">
<img src="https://blacksaildivision.com/wp-content/uploads/2015/03/centos-users-and-groups-624x390.jpg">
    
    </div> -->
    <div id='imgContainer'>
     <a href="alogin" >    
        <img src="https://collectiveray-dartcreationsco.netdna-ssl.com/images/login.jpg"> 
     </a>
    </div>
    <div id='imgContainer'>
     <a href="name.ejs" action="/admin">   
        <img src="https://www.seoclerk.com/pics/want25900-13Uxgt1429382117.png">
     </a>
</div>
    <div id='imgContainer'>
      <a href="statistics.ejs" >  
    <img src="https://thumb7.shutterstock.com/display_pic_with_logo/348181/261177431/stock-photo-mobile-office-stock-exchange-market-trading-statistics-accounting-financial-development-and-261177431.jpg">  
    </a>   
</div>
<div id="imgContainer">
    <a href="login.ejs">
<img src="http://d37ccwadi69x16.cloudfront.net/wp-content/uploads/2015/12/Bodyiofm-52-update-1036x583.jpg">
    </a>
</div>
<div id="imgContainer">
    <a href="search">
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQXiBxLbxjmOYLlhcxJq4wxh9uisvKb4v5bbWArhdN6ltm7xCDz">
    </a>
</div>
<div id="imgContainer">
    <a href="books.ejs">
<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT-NYTOjRIO1PjGufvCD3HC0LICjOtV_aM2-WBB1OS2A9Gl_c0z">  
    </a>
    </div>
</body>
</html>