<link rel="stylesheet" href="asserts/text.css">
</head>
<body>
        <div id="container">
                <div id="header">
                    <h1>E-Book  Management System</h1>
                </div>
  <div id="Wrapper"> 
  </div>
  <div id="navi">    
  </div>  
        <h1>SignUp To User</h1>
        <table>
         <form name="form1" method="POST"  action="/">
            <tr>
        <td>Email</td>
        <td><input type="text" name="email"> </td>
             </tr> 
         <tr>
        <td>password</td>
        <td><input type="text" name="password"> </td>
        </tr>    
        <tr>
       <td>title</td>
        <td><input type="text" name="title"> </td>
        </tr> 
        <tr>
        <td>Author</td>
        <td><input type="text" name="Author"></td>
        </tr>
            <tr>
            <td>Description</td>
            <td><input type="text" name="description" ></td>
            </tr>
            <tr>
            <td>publish</td>
             <td><input type="text" name="publish" ></td>
            </tr>
            <tr>
             <td>rating</td>
             <td><input type="text" name="rating" ></td>
            </tr>
            <tr>
                    <td>votes</td>
                    <td><input type="text" name="votes" ></td>
                    </tr> 
                    <tr>
             <td>price</td>
             <td><input type ="text" name="price" ></td>
                </tr>
                <td>Available_stores</td>
                <td><input type ="text" name="Available_stores" ></td>
                   </tr>
                   <td>URL</td>
                   <td><input type ="text" name="URL" ></td>
                      </tr>
                   
             <tr>
            <td colspan="2"><input type="submit" value="Save" ></td>
            </tr> 
            </table>
            </form>

</div>
</body>
</html>