<html>
    <head>
        <link rel="stylesheet" href="asserts/text.css">
    </head>
    <div id="container">
        <div id="header">
            <h1>E-Book  Management System</h1>
        </div>
      <div id="Wrapper">
            <form name="form1" method="POST" action='/search' >
                 <input type="hidden" name="_method" value="PUT"/> 
                <table>
                    <tr>
                    <td>title</td>
                    <img src="/home/gcr/Documents/img.jpg.odg">
             <td><input type="text" name="title" ></td>
              
              <tr>
              <td colspan="2"> <input type="submit" value="Save" ></td>
               </tr> 
          </table>
          </form>
        
        </div>
      <div id="navi">
      </div>
    
    
    </div>
    </body>
    </html>